<td>{{name}}</td>
<td>{{linea}}</td>
<td>{{sexo}}</td>
<td>
  <div class="progress progress-striped">
    <div class="progress-bar progress-bar-info" style="width: {{dificultad}}%"></div>
  </div>
</td>